<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mail Subject</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header>
      <h1 class="header">Practix</h1>
    </header>
    <main>
      {{ template_text }}
      <!--Save some text like below to admin site-->

      <!-- <h2 class="greeting">Здравстувуйте, {{username}}!</h2>
      <div class="main_text">
        <p>Мы рады, что вы присоеднились к числу зрителей PRACTIX.</p>
        <p>Теперь у вас есть доступ к тысячам фильмов и сериалов на любой вкус. Главное, запомните ваш логин и пароль.</p>
      <div>
      <p class="instruction">Для подтверждения электронной почты нажмите кнопку ниже</p>
      <p><a class="button" href="#">Подтвердить</a></p>
      <p class="footer">Если в вас возникнут проблемы со входом или вы потеряете доступ к почте, напишите в наш чат поддержки.</p> -->
    </main>

  </body>
</html>
