<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mail Subject</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header>
      <h1 class="header">Practix</h1>
    </header>
    <main>
      <!-- {{ template_text }} -->
      <!--Save some text like below to admin site-->

      <h2 class="greeting">Здравстувуйте, {{user_name}}!</h2>
      <div class="main_text">
        <p>Мы рады сообщить, что в PRACTIX уже доступен {{movie_title}}, который вы так ждали!</p>
      <div>

    </main>

  </body>
</html>
